<%- include("partials/header.ejs"); -%>

<body id="login">

<div class="loginContainer">
<div class="loginForm">
  <h1>Feliratkozás</h1>
  <form id="loginForm" class="" action="/board" method="post" novalidate>
    <div class="form-group">
    <label for="firstName">Név:</label><input type="text" id="firstName" name="firstName" class="form-control form-control-lg" autocomplete="off" required>
    </div>
    <div class="form-group">
    <button id="playerLogin" type="submit" name="submitButton" class="btn btn-primary btn-lg btn-block" >Induljon a játék!</button>
    </div>
  </form>

</div>
<div id="waitPanel" class="d-none">
  Várakozás a többi játékosra.
</div>
<div class="lds-roller d-none"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<div class="loginPlayers d-none">
  <h2>Játékosok</h2>
  <ul id="players">
    <% players.forEach(function(player){ %>
      <li><%= player.name %></li>
    <% }); %>
  </ul>
</div>

</div>

<%- include("partials/footer.ejs"); -%>
